.terms-page {
  height: 100vh;
  overflow-y: scroll;
  background-image: url("../../assets/images/terms-babe.jpg");
  background-position: top;
  box-sizing: border-box;
  padding: 4rem;

  .terms-content {
    width: 40%;
    color: white;
    span {
      font-size: 0.8rem;
      line-height: 1.4rem;
    }

    li {
      list-style: none;
      list-style-type: disc;
      margin-bottom: 1rem;
    }
  }
}
