$yellow: #ed1c24;
$popGreen: #31e981;

$black: #020202;

.text-yellow {
  color: $yellow;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-black {
  background-color: $black;
}

.text-white {
  color: #ffffff;
}
