.login-box {
  box-sizing: border-box;
  padding: 2rem;
  width: 25%;
}

.hero-bg {
  background-image: url("../../assets/images/hero-babe.jpg");
  background-size: cover;
}

.contrast-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  border: 1px solid #ffffff;
  color: #e6e6e6;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.contrast-input:focus {
  background-color: #0c0c0cb5;
  border: 1px solid #a2a2a2;
}

.login-form-prompt {
  color: #ffffff;
  padding: 2.5px 0;
  font-size: 0.8rem;
  font-weight: 700;
}

.film-bg {
  height: 100vh;
  background-color: #0c0c0ca6;
}
